.site-main {

    .about-intro, .eb-intro, .lonely-intro, .iso-intro {
        margin: 5rem 0 5rem;
    }

    .eb-intro, .lonely-intro, .iso-intro {
        padding: 0 0 5rem;
        border-bottom: 10px solid $primary;
    }

    .about-intro div, .eb-intro div, .lonely-intro div, .iso-intro div {
        width: 80%;
        margin: auto;
    }

    .about-intro h1, .eb-intro h1, .lonely-intro h1, .iso-intro h1 {
        margin: 0 0 5rem;
    }

    .about-intro figure {
        padding: 0 0 1rem 2rem;
        float: right;
        width: $figMedium;
    }

    .eb-intro figure, .lonely-intro figure, .iso-intro figure  {
        padding: 0 2rem 1rem 0;
        float: left;
        width: $figMedium;
    }

    .about-intro img {
        border-radius: 30% 70% 29% 71% / 30% 30% 70% 70%;
        box-shadow: 1px 1px 3px $ink;
    }

    .eb-intro img, .iso-intro img {
        border-radius: 72% 28% 14% 86% / 44% 62% 38% 56% ;
        box-shadow: 1px 1px 3px $ink;
    }

    .lonely-intro img {
        border-radius: 15% 85% 78% 22% / 77% 53% 47% 23%;
    }

    .ear-columns {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .ear-columns .ear-column {
        margin: 1rem;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $ink;
        background-color: $whitewash;
        color: $ink;
        transition: .5s ease;
    }
    
    .ear-columns .ear-column:hover {
        transform: translate(0, -.5rem);
        box-shadow: 3px 3px 10px $ink;
    }

    .ear-columns .ear-column:hover h2 {
        background-color: $secondary;
        color: $ink;
    }

    .ear-columns h2 {
        background-color: $primary;
        color: $whitewash;
        margin: 0;
        padding: 1rem;
        border-radius: 10px 10px 0 0;
        letter-spacing: 1px;
        transition: .5s ease;
    }

    .ear-columns p {
        padding: 1rem;
        margin: 0;
        text-align: left;
    }

    .info-article p:first-of-type {
        margin: 0;
    }

    .info-article .image-right {
        float: right;
        width: 400px;
        max-width: 50%;
        margin: 2rem;
        padding: 0 0 0 2rem;
    }
    
    .info-article .image-right img {
        border-radius: 15% 85% 78% 22% / 77% 53% 47% 23%;
        box-shadow: 1px 1px 3px $ink;
    }

    .info-article .image-left {
        float: left;
        width: 400px;
        max-width: 50%;
        margin: 2rem;
        padding: 0 2rem 0 0;
    }
       
    .info-article .image-left img {
        border-radius: 68% 32% 78% 22% / 26% 89% 11% 74%;
        box-shadow: 1px 1px 3px $ink;
    }


    @media ( max-width: $medium ) {
        .about-intro div, .eb-intro div, .lonely-intro div, .iso-intro div {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .about-intro figure, .eb-intro figure {
            padding: 3rem 0;
            order: 1;
        }

        .lonely-intro figure, .iso-intro figure {
            padding: 0;
            margin-bottom: 2.5rem;
        }

        .about-intro p:first-of-type, .eb-intro p:first-of-type {
            order: 0;
            margin-top: 0;
        }

        .about-intro p:last-of-type, .eb-intro p:last-of-type {
            margin-top: 0;
            order: 2;
        }

        @media ( max-width: $small ) {
            .lonely-intro h1, .iso-intro h1 {
                font-size: 2.5rem;
            }
            .ear-columns .ear-column {
                margin: 1rem 0;
            }

            .info-article div {
                display: flex;
                flex-direction: column;
            }

            .info-article .image-left, .info-article .image-right {
                width: $figMedium;
                max-width: none;
                padding: 0;
            }

            .info-article .image-right {
                margin-top: 0;
                margin-bottom: 5rem;
            }

            .info-article .image-left {
                margin-bottom: 0;
            }

        }

        @media ( max-width: $superSmall ) {
            .about-intro figure, .eb-intro figure {
                width: $figSmall;
            }

            .lonely-intro figure, .iso-intro figure, .info-article .image-left, .info-article .image-right {
                width: $figSmall;
            }
        }
    }

}

