.site-main {

    .faq-intro {
        margin: 5rem 0 5rem;
        padding: 0 0 5rem;
        border-bottom: 10px solid $primary;
    }

    .faq-intro div {
        width: 80%;
        margin: auto;
    }

    .faq-intro h1 {
        margin: 0 0 5rem;
    }

    .faq-intro figure {
        float: left;
        width: $figMedium;
        padding: 0 2rem 1rem 0;
    }

    .faq-intro img {
        border-radius: 45% 55% 14% 86% / 78% 62% 38% 22%;
        box-shadow: 1px 1px 3px $ink;
    }

    .faq-posts {
        margin: 0 0 5rem;
        grid-column: 2 / span 2;
    }
    .faq-post {
        padding: .5rem;
        height: fit-content;
        transition: .5s ease;
        border-bottom: .5px solid $primary;
    }
    
    .faq-post:hover {
        cursor: pointer;
    }

    .faq-post .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .faq-post h2 {
        margin: 2rem 0 2rem 2rem;
        text-align: left;
        font-size: 1.5rem;
    }

    .faq-post .fa-solid {
        margin: 2rem;
    }

    .faq-sidebar h2 {
        margin: 0 0 2rem;
    }

    .faq-post p {
        display: none;
        margin: 2rem;
        text-align: left;
    }

    .faq-post a {
        color: $secondary;
        font-weight: bold;
    }

    @media ( max-width: $large ) {
        .faq-posts {
            grid-column: span 4;
        }
    }

    @media ( max-width: $medium ) {
        .faq-intro div {
            display: flex;
            flex-direction: column;
        }

        .faq-intro figure {
            padding: 0;
            margin-bottom: 2.5rem;
        }

        .sidebar:has(.faq-sidebar) {
            grid-column: span 4;
        }
    }

    @media ( max-width: $small ) {
        .faq-post h2 {
            font-size: 1.2rem;
        }
    }

    @media ( max-width: $superSmall ) {
        .faq-intro figure {
            width: $figSmall;
        }

        .sidebar:has(.faq-sidebar) {
            padding: 2rem .5rem;
        }

        .faq-sidebar h2 {
            font-size: 2rem;
        }
    }

}