.site-footer {
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $ink;
    color: $whitewash;
    padding: 1rem 3rem;
    grid-column: span 4;
    margin-top: 5rem;

    h4 {
        margin: 0;
        position: relative;
        bottom: .25rem;
    }

    h4 a {
        color: $primary;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: .5px;
        margin: 0;
    }

    a {
        color: $whitewash;
    }

    .logo {
        display: flex;
        // align-content: center;
        width: 100%;
    }

    .logo .custom-logo-link {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 30px;
        height: 30px;
        margin-right: .3rem;
    }

    .copyright {
        width: 100%;
        padding: 0 2rem;
        margin: 0 1rem;
        text-align: center;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
    }

    .footer-nav {
        width: 100%;
    }

    .footer-nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-nav li {
        margin: .5rem 1rem;
    }

}

// make this better
@media ( max-width: $medium ) {
    .site-footer {
        flex-direction: column !important;
    }

    .site-footer .logo {
        display: flex;
        justify-content: center;
    }

    .site-footer .copyright {
        order: 3;
        border-left: none; 
        border-right: none;  
    }
    
    .site-footer .footer-nav {
        padding: 2rem 0;
    }

}

@media ( max-width: $small ) {
    .site-footer .copyright {
        padding: 0;
        margin: 0 .5rem;
    }
}

