.site-main {

    .team-intro {
        margin: 5rem 0 5rem;
        padding: 0 0 5rem;
        border-bottom: 10px solid $primary;
    }

    .team-intro div {
        width: 80%;
        margin: auto;
    }

    .team-intro h1 {
        margin: 0 0 5rem;
    }

    .team-intro figure {
        float: left;
        width: $figMedium;
        padding: 0 2rem 1rem 0;
    }

    .team-intro img {
        border-radius: 10px;
        box-shadow: $boxShadow;
    }

    .team-cards {
        grid-column: span 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 0 5rem;
    }

    .tm-card {
        margin: 1rem;
        background-color: $whitewash;
        box-shadow: $boxShadow;
        border-radius: 10px;
        width: 400px;
        min-width: 400px;
        transition: .5s ease;
    }

    .tm-card:hover {
        transform: translate(0, -.5rem);
    }

    .tm-card .avatar {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
        border-radius: 10px 10px 0 0;
    }

    .tm-card h2 {
        background-color: $primary;
        margin: 0;
        padding: 1rem;
    }

    .tm-card a {
        color: $whitewash;
    }

    .tm-card button, .tm-profile button {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 1rem 0;
        padding: .5rem 1rem;
        border: none;
        border-radius: 50px;
        background-color: $primary;
        box-shadow: 1px 1px 2px $ink;
        width: fit-content;
        color: $whitewash;
        font-size: 1.5rem;
    }

    .tm-profile img {
        width: $figLarge;
        max-width: 50%;
        float: left;
        margin: 2rem;
    }

    .tm-profile a {
        margin: 1rem auto;
    }

    .tm-card button:hover, .tm-profile button:hover {
        box-shadow: 1px 1px 5px $ink;
        background-color: $secondary;
        cursor: pointer;
    }

    .tm-card button:hover a {
        color: $ink;
    }

    .tm-card h2 a {
        font-size: 2.5rem;
    }

    .tm-card p {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }

    .tm-card p:first-of-type {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .tm-profile p:first-of-type {
        display: none;
    }

    @media ( max-width: $medium ) {
        .team-intro div {
            display: flex;
            flex-direction: column;
        }

        .team-intro figure {
            padding: 0;
            margin-bottom: 2.5rem;
        }

        .tm-profile {
            display: flex;
            flex-direction: column;
        }

        .tm-profile h2 {
            order: 1;
        }

        .tm-profile img {
            order: 2;
            margin: 2.5rem auto 0;
            max-width: $figLarge;
        }

        .tm-profile p {
            order: 3;
        }

        .tm-profile .container {
            order: 4;
        }
    }

    @media ( max-width: $small ) {
        .tm-card {
            width: 300px;
            min-width: 0;
        }

        .tm-card .tm-image {
            height: 200px;
        }

        .tm-card h2 {
            padding: .5rem;
        }

        .tm-card p {
            padding: .5rem;
        }

        .tm-profile img {
            max-width: $figMedium;
        }
    }

    @media ( max-width: $superSmall ) {
        .team-intro figure {
            width: $figSmall;
        }

        .tm-profile img {
            max-width: $figSmall;
        }
    }
}